<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.chrisbergeron.homekitbutton</string>

  <key>ProgramArguments</key>
  <array>
	<!-- PATH to the Python 3 binary in the virtualenv activated directory (ex. cb) -->
    <string>/Volumes/RAID5/Documents/github/homekit-button-onvis/cb/bin/python3</string>
	<!-- Update below to the local copy of this repo python script -->
    <string>/Volumes/RAID5/Documents/github/homekit-button-onvis/onvis_webhook.py</string>
    <string>--config</string>
	<!-- Update below to the local copy of this repo config file config.yml -->
    <string>/Volumes/RAID5/Documents/github/homekit-button-onvis/config.yml</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Volumes/RAID5/Documents/github/homekit-button-onvis</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/cbergeron/Library/Logs/onvis_webhook.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/cbergeron/Library/Logs/onvis_webhook.err</string>
</dict>
</plist>
